*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #0b0b0b;
  --grey: #2a2e30;
  --blue: #85ccff;
  --shadow: #000000e5;
  --margin: 2rem;
  --margin-lg: 4rem;
  --transition: 250ms;
  --border-radius: 4px;
}

@font-face {
  font-family: "Cinzel";
  src: url("../assets/fonts/cinzel.woff2") format("woff");
}

html,
body {
  font-family: sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--white);
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
.title {
  font-family: "Cinzel";
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

section {
  scroll-margin-top: 70px;
}

header {
  padding: var(--margin);
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--black);
  color: var(--white);
  z-index: 100000;
}

nav {
  display: flex;
  gap: var(--margin);
  justify-content: space-between;
  align-items: center;
}

nav * {
  white-space: nowrap;
}

nav .menu-toggle {
  display: none;
  font-size: 1.3rem;
}

nav .menu-toggle:hover {
  cursor: pointer;
}

nav .menu-item {
  display: flex;
  gap: var(--margin);
  transition: width var(--transition);
}

nav .menu-item * {
  white-space: nowrap;
}

nav .menu-item a {
  color: var(--white);
  transition: all var(--transition);
}

nav .menu-item a:hover {
  color: var(--blue);
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  nav .menu-toggle {
    display: block;
  }

  nav .menu-item {
    position: fixed;
    top: 94;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--shadow);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    width: 0;
    overflow: hidden;
  }

  nav .menu-item.open {
    width: 100%;
  }
}

section.intro {
  position: relative;
  margin-top: 94px;
  height: calc(100vh - 94px - 50px);
  background: url(../assets/img/intro.webp);
  background-size: cover;
  background-position: center;
}

section.intro #teaser {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.intro .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-shadow: 0px 0px 8px var(--black);
}

section.intro .title {
  font-size: 5vw;
}

section.intro .subtitle {
  font-size: 1.6vw;
}

@media screen and (max-width: 1000px) {
  section.intro .title {
    font-size: 9vw;
  }

  section.intro .subtitle {
    font-size: 4vw;
  }
}

section.videos {
  background-color: var(--black);
  background-size: cover;
  background-position: center;
  padding: var(--margin-lg);
  color: var(--white);
  text-shadow: 0px 0px 8px var(--black);
  display: grid;
  gap: var(--margin);
  grid-template-columns: 65% auto;
}

section.videos * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-lg);
}

section.videos .presentation {
  width: 100%;
}

section.videos .dossier embed {
  width: 100%;
  height: 60%;
}

@media screen and (max-width: 1000px) {
  section.videos {
    grid-template-columns: 1fr;
    padding: var(--margin);
  }

  section.videos .dossier {
    display: none;
  }
}

section.about {
  padding: var(--margin-lg);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  justify-content: center;
  align-items: center;
}

section.about .subtitle {
  font-weight: bold;
  font-style: italic;
}

section.about p {
  max-width: 60%;
}

@media screen and (max-width: 1000px) {
  section.about {
    padding: var(--margin);
  }
}

section.interpretation {
  background: var(--black);
  color: var(--white);
  padding: var(--margin-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.interpretation h1 {
  margin-bottom: var(--margin);
  z-index: 1;
}

section.interpretation .background {
  position: absolute;
  top: 50vh;
  bottom: var(--margin);
  width: 90%;
  background: var(--grey);
  border-radius: var(--border-radius);
}

section.interpretation .board {
  z-index: 1;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--margin);
}

section.interpretation .board * {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

section.interpretation .board * .img-box {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

section.interpretation .board * img {
  width: 85%;
}

section.interpretation .board * .subtitle {
  text-transform: uppercase;
  font-weight: bold;
}

section.interpretation .board * .intro {
  font-style: italic;
  color: var(--blue);
}

@media screen and (max-width: 1400px) {
  section.interpretation .board {
    grid-template-columns: 1fr 1fr;
  }
  section.interpretation .board * img {
    max-width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  section.interpretation .background {
    top: var(--margin);
  }
  section.interpretation h1 {
    font-size: 8vw;
  }

  section.interpretation .board {
    grid-template-columns: 1fr;
    width: 100%;
  }

  section.interpretation .board * .img-box {
    height: auto;
    justify-content: center;
  }
}

.separator {
  height: 10rem;
  background: var(--grey);
  background: url(../assets/img/oeuvre.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(0.2);
}

section.timeline {
  margin: var(--margin-lg);
  padding: 0 40vh;
  display: flex;
  flex-direction: column;
  gap: var(--margin-lg);
}

section.timeline .time {
  display: grid;
  grid-template-columns: 20vw auto;
  gap: var(--margin);
}

section.timeline .time .date {
  display: flex;
  flex-direction: column;
}

section.timeline .time .date .subtitle {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: calc(var(--margin) / 4);
}

section.timeline .time .date .subsubtitle {
  color: var(--grey);
  text-transform: uppercase;
}

@media screen and (max-width: 1400px) {
  section.timeline {
    padding: 0 15vh;
  }
}

@media screen and (max-width: 1000px) {
  section.timeline {
    padding: 0 0;
  }
  section.timeline h1 {
    font-size: 8vw;
  }

  section.timeline .time {
    grid-template-columns: 1fr;
  }
}

section.actors {
  padding: var(--margin-lg);
  background: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin);
  color: var(--white);
}

section.actors .presentation {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--margin);
}

section.actors .presentation > * {
  width: 100%;
  background: var(--white);
  border-radius: var(--border-radius);
  padding: var(--margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin);
  color: var(--black);
}

section.actors .presentation > * h3 {
  text-align: center;
}

section.actors .presentation > * .img-box {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 100%;
}

section.actors .presentation > * img {
  width: 100%;
}

section.actors .presentation > * .role {
  text-transform: uppercase;
  font-weight: bold;
}

section.actors .presentation > * p {
  text-align: center;
}

section.actors .presentation > * .social {
  display: flex;
  gap: var(--margin);
}

section.actors .presentation > * .social a {
  color: var(--black);
}

section.actors .presentation > * .social i {
  font-size: 3rem;
  transition: all var(--transition);
}

section.actors .presentation > * .social i:hover {
  color: var(--blue);
}

@media screen and (max-width: 1400px) {
  section.actors .presentation {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  section.actors {
    padding: var(--margin);
  }

  section.actors .presentation > * .img-box {
    width: 10rem;
    height: 10rem;
  }

  section.actors .presentation {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

section.participation {
  padding: var(--margin-lg) calc(var(--margin-lg) + 40vh);
  background: var(--black);
  color: var(--white);
}

section.participation .bank {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
}

section.participation .bank .donation {
  display: flex;
  flex-direction: column;
}

section.participation .bank .donation img {
  width: 50%;
  filter: grayscale(100);
}

section.participation .bank .donation a {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
  border: solid 1px var(--blue);
  padding: var(--margin);
  border-radius: var(--border-radius);
  text-align: center;
  transition: all var(--transition);
  width: 80%;
}

section.participation .bank .donation a:hover {
  background: var(--blue);
  color: var(--black);
}

section.participation .bank .explenation {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

@media screen and (max-width: 1500px) {
  section.participation {
    padding: var(--margin-lg);
  }
}

@media screen and (max-width: 1000px) {
  section.participation {
    padding: var(--margin-lg);
  }

  section.participation h1 {
    font-size: 8vw;
  }

  section.participation .bank {
    grid-template-columns: 1fr;
  }

  section.participation .bank .donation a {
    width: 100%;
  }
}

section.parteners {
  padding: var(--margin-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-lg);
}

section.parteners .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(2 * var(--margin-lg));
}

section.parteners .list img {
  width: 15vh;
}

@media screen and (max-width: 1000px) {
  section.parteners .list {
    gap: var(--margin);
  }
}

footer {
  padding: calc(2 * var(--margin-lg)) var(--margin-lg);
  position: relative;
  background: url(../assets/img/contact.webp);
  background-size: cover;
  background-position: center;
  color: var(--white);
}

footer .cover {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--grey);
  opacity: 0.6;
}

footer .container {
  position: relative;
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-lg);
}

footer .container .grid {
  display: grid;
  gap: var(--margin);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

footer .container .grid * {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin) / 2);
  flex-direction: column;
}

footer .container .contacts {
  align-items: center;
}

footer .container .contact {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

footer .container .contact i {
  font-size: 1.8rem;
}

footer .container .social i {
  font-size: 6rem;
  transition: all var(--transition);
}

footer .container .social i:hover {
  cursor: pointer;
  color: var(--blue);
}

footer .container .contact.webdesign {
  font-size: 1.1rem;
}

footer .container .contact.webdesign a {
  text-decoration: none;
  color: var(--white);
  transition: all var(--transition);
}

footer .container .contact.webdesign a:hover {
  color: var(--blue);
}

footer .container .contact.contact.webdesign i {
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  footer .container {
    gap: var(--margin);
  }

  footer .container .grid {
    grid-template-columns: 1fr;
  }

  footer .container .contact * {
    font-size: 1.2rem;
  }
}
