:root {
  --primary: #02729a;
  --green: #c4cb25;
  --orange: #e7690b;
  --blue: #69ccd7;
  --light: white;
  --dark: #090b24;
  --grey: #dbdbdb;
  --dark-alpha: #090b24ee;
  --spacer: 2rem;
  --radius: 10px;
  --mobile: 25px;
}

*,
::before,
::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

.bg-green {
  background: var(--green) !important;
}

.bg-orange {
  background: var(--orange) !important;
}

.bg-blue {
  background: var(--blue) !important;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  font-size: 3rem;
  color: var(--dark);
}

h3 i {
  margin-right: var(--spacer);
}

h4 {
  font-size: 1.2rem;
  color: var(--dark);
  border-top: solid 1px var(--primary);
  padding-top: 5px;
  color: var(--primary);
  text-transform: uppercase;
}

h4 i {
  margin-right: var(--spacer);
}

@media screen and (max-width: 1000px) {
  h3 {
    font-size: 1.5rem;
  }

  h3 i {
    margin-right: 15px;
  }

  h4 {
    font-size: 1rem;
  }
}

section {
  scroll-margin-top: var(--spacer);
}

@media screen and (max-width: 1000px) {
  section {
    scroll-margin-top: 70px;
  }
}

#navBar {
  height: 5rem;
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: var(--spacer);
  text-transform: uppercase;
  box-shadow: 0px 0px 15px -5px var(--dark);
  transition: all 250ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  padding-top: 1.5rem;
}

#navBar .banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5rem;
  background: var(--dark);
  text-align: center;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  text-transform: uppercase;
}

#navBar #hamburger {
  display: none;
  transition: all 250ms;
}

#navBar #hamburger:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#navBar img {
  height: calc(var(--spacer) * 2);
}

#navBar img:hover {
  cursor: pointer;
}

#navBar a {
  color: var(--light);
  text-decoration: none;
  transition: all 250ms;
}

#navBar a span {
  margin-right: calc(var(--spacer) / 3);
}

#navBar a:hover {
  color: var(--blue);
  cursor: pointer;
  transform: scale(1.05);
}

#navBar.mobile {
  background: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: var(--mobile);
  color: var(--light);
  font-family: "Bebas Neue", sans-serif;
}

#navBar.mobile .banner {
  opacity: 0;
}

#navBar.mobile img {
  height: 150px;
}

#navBar.mobile #hamburger {
  display: block;
  position: absolute;
  top: var(--mobile);
  right: var(--mobile);
  color: var(--light);
  font-size: 1.5rem;
}

#navBar.mobile a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: all;
  color: var(--light) !important;
}

@media screen and (max-width: 1000px) {
  #navBar a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }

  #navBar #hamburger {
    display: block;
    position: absolute;
    right: var(--mobile);
    color: var(--light);
    font-size: 1.5rem;
  }

  #navBar.mobile a {
    pointer-events: all;
    opacity: 1;
    font-size: 1.5rem;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  #navBar.mobile {
    padding: var(--spacer);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  #navBar.mobile img {
    display: none;
  }
}

#home {
  height: 85dvh;
  font-family: "Bebas Neue", sans-serif;
}

#home .background-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark);
}

#home .background-texture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/asphalte.jpg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1%;
}

#home .teaser {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.3;
}

#home .head {
  display: flex;
  align-items: center;
  color: white;
}

#home .head img {
  height: 15vw;
}

#home .head .title {
  margin-left: var(--spacer);
  font-style: normal;
}

#home .head .title h1 {
  text-transform: uppercase;
  font-size: 5vw;
  color: var(--blue);
}

#home .head .title h2 {
  font-size: 2vw;
}

#home .photo {
  z-index: 1;
  position: absolute;
  bottom: -5dvh;
  left: 30vw;
}

#home .container {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: calc(var(--spacer) * 4);
  color: white;
}

#home .container .menu {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: end;
  gap: var(--spacer);
  text-transform: uppercase;
  font-size: 2rem;
  line-break: none;
}

#home .container .menu a {
  display: flex;
  gap: calc(var(--spacer) / 2);
  text-decoration: none;
  color: var(--light);
  transition: all 250ms;
}

#home .container .menu a:hover {
  color: var(--blue);
  transition: all;
  cursor: pointer;
  transform: scale(1.05);
}

.break {
  width: 100%;
  height: 15dvh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.break * {
  height: calc(15dvh - var(--spacer));
}

@media screen and (max-width: 1000px) {
  #home .head .title h1 {
    text-transform: uppercase;
    font-size: 6vw;
  }

  #home .head .title h2 {
    font-size: 4vw;
  }

  #home .head img {
    height: 20vw;
  }

  #home .photo {
    left: 10vw;
    height: 400px;
  }

  #home .container {
    padding-right: var(--mobile);
  }

  #home .container .menu {
    gap: var(--mobile);
  }

  #home .container .menu a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  #home .photo {
    height: 300px !important;
  }

  #home .container .menu a {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-height: 400px) {
  #home .photo {
    height: 200px !important;
  }

  #home .container .menu a {
    font-size: 1.3rem !important;
  }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1300px) {
  #home .photo {
    height: 60dvh;
    left: 10vw;
  }

  #home .container {
    padding-bottom: var(--spacer);
    align-items: end;
  }

  #home .container .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    width: 50%;
    gap: var(--mobile);
  }
}

#about {
  padding: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  color: white;
  background: var(--dark);
}

#about h3 {
  color: var(--light);
  margin: 0;
}

#about p {
  font-size: 1.2rem;
}

#about .bold {
  font-weight: bold;
  color: var(--blue);
}

@media screen and (max-width: 1000px) {
  #about {
    padding: var(--mobile);
    gap: var(--mobile);
  }

  #about p {
    font-size: 1rem;
  }
}

#team {
  padding: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

#team .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacer);
}

#team .grid div {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 4);
  transition: all 250ms;
}

#team .grid img:not(.user) {
  width: 100%;
  height: 100%;
  min-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  transition: all 250ms;
  box-shadow: 0px 0px 15px -5px var(--dark);
  margin-bottom: var(--mobile);
}

#team .grid .unknown {
  width: 100%;
  height: 100%;
  min-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  transition: all 250ms;
  box-shadow: 0px 0px 15px -5px var(--dark);
  margin-bottom: var(--mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: var(--light);
  font-size: 10rem;
}

#team .grid .unknown img {
  width: 80%;
}

#team .grid span {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  font-weight: bold;
}

#team .grid .name {
  margin-top: auto;
  text-transform: capitalize;
  white-space: nowrap;
}

#team .grid .small {
  color: var(--orange);
  text-transform: capitalize;
  white-space: nowrap;
}

#team .grid div:hover {
  transform: scale(1.05);
}

#team .grid div:hover img:not(.user),
#team .grid div:hover .unknown {
  box-shadow: 0px 0px 15px 0px var(--blue);
}

@media screen and (max-width: 1200px) {
  #team {
    padding: 60px;
    gap: var(--mobile);
  }

  #team h3 {
    text-align: center;
  }

  #team .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--mobile);
  }

  #team .grid span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1500px) {
  #team .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  #team .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  #team .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  #team {
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
  }

  #team h4 {
    text-align: center;
  }

  #team .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  #team .grid img:not(.user),
  #team .grid .unknown {
    margin-bottom: 5px;
  }
}

.paralax {
  height: calc(var(--spacer) * 4);
  background: url(../assets/team.jpg.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.paralax .background-color {
  height: calc(var(--spacer) * 4);
  width: 100%;
  background: var(--dark);
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .paralax {
    height: calc(var(--spacer) * 2);
  }

  .paralax .background-color {
    height: calc(var(--spacer) * 2);
  }
}

.layout {
  color: var(--dark);
  width: 100%;
  padding-top: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
  display: flex;
  flex-direction: column;
  gap: calc(var(--mobile) / 2);
}

.layout a {
  text-decoration: none;
  color: var(--primary);
}

.layout a:hover {
  text-decoration: underline;
}

.layout .grid {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  border-radius: var(--radius);
  overflow: hidden;
}

.layout .bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layout .bg1 {
  background-image: url(../assets/bg1.jpeg);
}

.layout .bg2 {
  background-image: url(../assets/bg2.jpeg);
}

.layout .bg3 {
  background-image: url(../assets/t2s.jpeg);
}

.layout .bg4 {
  background-image: url(../assets/t2s3.jpeg);
}

.layout .bg5 {
  background-image: url(../assets/t2s4.jpeg);
}

.layout .bg6 {
  background-image: url(../assets/t2s2.jpeg);
}

.layout .bg7 {
  background-image: url(../assets/t2s5.jpeg);
}

@media screen and (max-width: 1000px) {
  .layout .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) {
  .layout {
    padding: var(--mobile);
  }
}

#partners {
  background: var(--dark);
  color: var(--light);
  padding: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
}

#partners h3 {
  color: var(--light);
}

#partners * {
  border-radius: var(--radius);
}

#partners .principals {
  margin-top: var(--spacer);
  margin-bottom: calc(var(--spacer) * 4);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer) * 6);
  justify-content: center;
}

#partners .principals img {
  height: 250px;
}

#partners .others {
  /* margin-top: calc(var(--spacer) * 2); */
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--spacer) * 2);
}

#partners .others img {
  height: 100px;
}

#partners .principals *:hover,
#partners .others *:hover {
  transition: all 250ms;
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  #partners {
    padding: var(--mobile);
  }

  #partners h3 {
    text-align: center;
  }

  #partners .principals {
    margin-bottom: calc(var(--mobile) * 2);
    gap: var(--mobile);
    justify-content: center;
    align-items: center;
  }

  #partners .principals img {
    height: 100px;
  }

  #partners .others {
    gap: var(--mobile);
    justify-content: center;
    align-items: center;
  }

  #partners .others img {
    height: 50px;
  }
}

#jerseys {
  padding: var(--spacer);
  width: 100%;
}

#jerseys img {
  max-width: 300px;
}

#jerseys .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacer) * 2);
}

@media screen and (max-width: 1000px) {
  #jerseys {
    padding: var(--mobile);
  }

  #jerseys img {
    max-width: 150px;
  }

  #jerseys .container {
    gap: var(--mobile);
  }
}

#actus {
  padding: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

#actus .dv {
  max-width: 350px;
  width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms;
  font-size: 0;
}

#actus .dv img {
  width: 100%;
}

#actus .dv:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#actus iframe {
  max-width: none !important;
  border-radius: var(--radius) !important;
}

@media screen and (max-width: 1000px) {
  #actus {
    padding: var(--mobile);
    gap: var(--mobile);
    align-items: center;
  }

  #actus h3,
  #actus h4 {
    text-align: center;
  }

  #actus .dv {
    padding-left: var(--mobile);
    padding-right: var(--mobile);
  }
}

#contacts {
  padding: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
  width: 100%;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer);
}

#contacts .background-photo {
  background: url(../assets/team.jpg.webp);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

#contacts .background-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--dark);
  opacity: 0.7;
}

#contacts h3 {
  color: var(--light);
  text-align: center;
}

#contacts hr {
  width: 20vw;
}

#contacts .socials {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer) * 4);
  justify-content: center;
  font-size: 0;
}

#contacts .socials a {
  text-decoration: none;
  color: var(--light);
  border: solid 1px var(--light);
  padding: var(--spacer);
  border-radius: var(--radius);
}

#contacts .socials a:hover {
  color: var(--blue);
  border: solid 1px var(--blue);
  transition: all 250ms;
}

#contacts .socials i {
  font-size: 4rem;
}

#contacts .mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--mobile);
  font-size: 1.3rem;
}

#contacts .mail i {
  margin-right: calc(var(--mobile) / 2);
}

@media screen and (max-width: 1000px) {
  #contacts {
    padding: var(--mobile);
  }

  #contacts .socials {
    gap: var(--mobile);
  }

  #contacts .mail {
    font-size: 1.1rem;
  }
}

#eco {
  padding: var(--spacer);
  background: var(--dark);
  color: var(--light);
  width: 100%;
  background: var(--primary);
}

#eco p {
  text-align: center;
  font-size: 1rem;
}

.boxes3 {
  height: 175px;
  width: 153px;
}

#n img {
  max-height: none !important;
  max-width: none !important;
  background: none !important;
}

#inst i {
  max-height: none !important;
  max-width: none !important;
  background: none !important;
}