@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "shrapnel";
  src: url(../assets/Shrapnel.otf);
}

:root {
  --red: #DD262B;
  --yellow: #FFD004;
  --black: #161616;
  --black-darker: #101010;
  --white: white;
  --grey: #f3f3f3;
  --grey-lighter: #c5c5c5;
  --grey-darker: #1B1C1E;
  --spacing: 25px;
  --radius: 5px;
  --transition: 250ms;
}

*,
::before,
::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--black);
}

section {
  scroll-margin-top: 89px;
  min-height: 100px;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
}

h2 {
  font-size: 1.4rem;
}

.title {
  padding: var(--spacing);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--white);
  transition: all var(--transition);
}

.title .skew {
  background: var(--red);
  position: absolute;
  top: 0;
  left: -100;
  right: -50;
  height: 100%;
  transform: skew(-30deg);
}

.title h1 i {
  position: absolute;
  margin-left: calc(var(--spacing) / 1.5);
  font-size: 1.6rem;
}

@media screen and (max-width: 1700px) {
  h1 {
    font-size: 1rem;
  }
}

.separator {
  height: calc(var(--spacing) * 4);
  background: var(--yellow);
  background: url(../assets/path.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.25;
}

#home {
  color: var(--white);
  width: 100%;
  height: 98vh;
  background: url(../assets/rocks.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);
}

#home nav {
  height: 90px;
  z-index: 1;
  top: 0;
  background: var(--white);
  color: var(--black);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -5px 10px var(--black);
  background: var(--black-darker);
}

#home nav img {
  height: 60%;
  margin-left: var(--spacing);
}

#home nav #toggle {
  display: none;
}

#home nav .skew {
  background: var(--red);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100;
  width: 45vw;
  transform: skew(-30deg);
}

@media screen and (max-width: 1700px) {
  #home nav .skew {
    width: 60vw;
  }
}

#home nav .links {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  padding: var(--spacing);
  text-transform: uppercase;
  font-weight: 600;
}

#home nav .links a {
  text-decoration: none;
  color: var(--white);
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all var(--transition);
}

#home nav .links a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#home nav .links a i {
  font-size: 1.3rem;
}

@media screen and (max-width: 1400px) {
  #home nav .skew {
    width: 190px;
  }

  #home nav #toggle {
    display: block;
    color: var(--white);
    z-index: 4;
    margin-right: var(--spacing);
    font-size: 1.5rem;
    transition: all var(--transition);
  }

  #home nav #toggle:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  #home nav .links {
    width: 0;
    overflow: hidden;
    padding: 0;
  }

  #home nav .links.open {
    position: absolute;
    flex-direction: column;
    background: #000000e8;
    height: 100vh;
    left: 0;
    justify-content: center;
    font-size: 1.3rem;
    overflow: none;
    width: 100%;
  }
}

#home #teaser {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 90%;
}

#home .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
}

#home h1 {
  text-transform: uppercase;
  text-shadow: 0px 0px 5px var(--black);
  text-align: center;
  font-family: shrapnel;
  font-size: 5rem;
  font-weight: 400;
}

#home h1 .prim {
  color: var(--yellow);
}

#home h1 .sub {
  color: var(--red)
}

#home h1.primary {
  font-size: 7rem;
  font-weight: 900;
  line-height: 3.5rem;
}

#home h1.secondary {
  font-size: 4.8rem;
  font-weight: 100;
  letter-spacing: 1.2rem;
  margin-left: 1rem;
}

#home .warning {
  background: var(--white);
  font-weight: bold;
  color: var(--red);
  padding: var(--spacing);
  font-size: 1.5rem;
  border-radius: var(--radius);
  text-align: center;
}

@media screen and (max-width: 1400px) {
  #home .title {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1000px) {
  #home .title {
    transform: scale(0.5);
  }
}

#home hr {
  width: 5rem;
}

#home .event {
  background: var(--red);
  padding: calc(var(--spacing) / 2);
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
  transform: skew(-30deg);
  box-shadow: 0px 5px 10px var(--black);
}

#home .event .subtitle {
  transform: skew(30deg);
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  transition: all var(--transition);
}

#home .event:hover .subtitle {
  font-size: 1.1rem;
}

@media screen and (max-width: 1000px) {
  #home .event .subtitle {
    font-size: 1.8rem;
  }

  #home .event:hover .subtitle {
    font-size: 1.9rem;
  }
}

#trail .content {
  padding: calc(var(--spacing) * 2);
  display: flex;
  gap: var(--spacing);
  justify-content: center;
  flex-wrap: wrap;
}

#trail .content .card {
  background: var(--grey-darker);
  border-top: solid 3px var(--red);
  border-radius: var(--radius);
  color: var(--white);
  height: 335px;
  width: 400px;
  overflow: hidden;
}

#trail .card .first,
#trail .card .first-only,
#trail .card .secondary {
  height: 335px;
  width: 400px;
  transition: all var(--transition);
}

#trail .content .card .first,
#trail .content .card .first-only {
  padding: var(--spacing);
  gap: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
}

#trail .card .secondary {
  background-color: var(--black);
  color: var(--white);
  display: none;
  padding: var(--spacing);
  text-align: justify;
}

#trail .card .secondary .bg-img {
  position: absolute;
  top: -50;
  right: -50;
  left: -50;
  bottom: -50;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.05;
}

#trail .trail1 {
  background: url(../assets/trail-1.jpg);
}

#trail .trail2 {
  background: url(../assets/trail-2.jpg);
}

#trail .trail3 {
  background: url(../assets/trail-3.jpg);
}

#trail .content .card:hover .first {
  display: none;
}

#trail .content .card:hover .secondary {
  display: block;
}

#trail .content .card h2 {
  color: var(--red);
  font-weight: 900;
  text-align: center;
}

#trail .content .card .d {
  font-weight: 900;
}

#trail .content .card .start-time {
  color: var(--red);
}

#trail .content .card .runners {
  font-weight: 900;
}

#trail .content .card .price {
  padding: 10px;
  border-radius: var(--radius);
  color: var(--white);
  font-weight: 900;
  color: var(--red);
  border: solid 2px var(--red)
}

#trail .content .card .ravitos {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  #trail .content .card {
    max-width: 320px;
  }

  #trail .card .secondary {
    overflow-y: auto;
    overflow-x: hidden;
  }

  #trail .card .first,
  #trail .card .first-only,
  #trail .card .secondary {
    max-width: 320px;
  }
}

#trail .associations {
  color: var(--white);
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  margin: 0 var(--spacing) var(--spacing) var(--spacing);
}

#trail .inscription {
  padding-bottom: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);
  max-width: 400px;
  margin: auto;
}

#trail .inscription:hover {
  transform: scale(1.1);
}

#trail .inscription .skew {
  transform: skew(-30deg);
  display: flex;
  justify-content: center;
  width: 400;
  color: var(--white);
  background: var(--red);
}

#trail .inscription .skew * {
  transition: all var(--transition);
}

#trail .inscription .skew:hover,
#trail .inscription .skew:hover * {
  cursor: pointer;
}

#trail .inscription button {
  border: none;
  color: var(--white);
  background: var(--red);
  padding: var(--spacing);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: var(--radius);
  width: 300;
  transform: skew(30deg);
}

@media screen and (max-width: 1400px) {
  #trail .inscription {
    transform: scale(0.8);
  }
}

#trail .charts {
  width: 100%;
  padding: var(--spacing);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing);
}

#trail .charts .chart {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  #trail .charts {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  #trail .charts {
    grid-template-columns: 1fr;
  }
}

#trail .mandatory {
  padding: var(--spacing);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  width: 100%;
}

#trail .mandatory .mand-item {
  border-top: solid 3px var(--yellow);
  min-width: 360px;
  padding: var(--spacing);
  color: var(--white);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  background: var(--grey-darker);
}

@media screen and (max-width: 1000px) {
  #trail .mandatory .mand-item {
    min-width: 0px;
    width: 100%;
  }
}

#trail .mandatory i {
  font-size: 3rem;
}

#trail .mandatory .mand-span {
  text-transform: uppercase;
  font-weight: bold;
}

#trail .faq {
  background: var(--grey-darker);
  margin: var(--spacing);
  padding: var(--spacing);
  border-radius: var(--radius);
  color: var(--white);
}

#trail .faq .question-container {
  margin: var(--spacing) 0;
  padding: var(--spacing) 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-top: solid 1px var(--grey-lighter);
  display: flex;
  flex-direction: column;
}

#trail .faq .question-container * {
  transition: all var(--transition);
}

#trail .faq .question-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: var(--spacing);
}

#trail .faq .question-title .question-icon {
  font-size: 1rem;
}

#trail .faq .question-title .question-icon.opened {
  display: none;
}

#trail .faq .question-content {
  height: 0;
  overflow: hidden;
}

#trail .faq .question-content.ravito {
  display: flex;
  flex-direction: column;
}

#trail .faq .question-container:hover .question-title {
  color: var(--red) !important;
}

#trail .faq .question-container:hover .question-icon.opened {
  display: block;
}

#trail .faq .question-container:hover .question-icon.closed {
  display: none;
}

#trail .faq .question-container:hover .question-content {
  height: 5rem;
  margin-top: var(--spacing);
  overflow-y: auto;
}

#trail .phototheque {
  margin: calc(var(--spacing));
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

#trail .phototheque .grid {
  background: var(--yellow);
  width: 100%;
  height: 30rem;
  display: grid;
  border-radius: var(--radius);
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}


@media screen and (max-width: 1000px) {
  #trail .phototheque .grid {
    grid-template-columns: 1fr;
  }
}

#trail .phototheque .grid div {
  background: url(../assets/start.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#trail .phototheque .grid .s2 {
  background-image: url(../assets/start2.jpg);
}

#trail .phototheque .grid .r1 {
  background-image: url(../assets/run.jpg);
}

#trail .phototheque .grid .r2 {
  background-image: url(../assets/run2.jpg);
}

#trail .phototheque .grid .f1 {
  background-image: url(../assets/finish.jpg);
}

#trail .phototheque .grid .f2 {
  background-image: url(../assets/finish2.jpg);
}

#club {
  background: var(--black);
  color: var(--white);
}

#club .content {
  padding: calc(var(--spacing) * 2);
  gap: var(--spacing);
  display: flex;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  #club .content {
    flex-direction: column;
  }

  #club .content * {
    text-align: center;
  }

  #club .program * {
    text-align: left;
  }
}

#club .about {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

#club .about p {
  font-style: italic;
}

#club .more {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background: var(--grey-darker);
  border-radius: var(--radius);
  padding: var(--spacing);
  border-top: solid 3px var(--red);
}

#club #jersey {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  #club #jersey {
    width: 100%;
  }
}

#club .map {
  position: relative;
  margin: 50px;
}

#club .map img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 330px;
  height: 190px;
}

#club .map span {
  position: absolute;
}

#club .map .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--red);
  border-radius: 100%;
}

#club .map #stb-dot {
  top: 39;
  left: 186;
}

#club .map #stb {
  top: 35;
  left: 94;
}

#club .map #plt-dot {
  top: 55;
  left: 183;
}

#club .map #plt {
  top: 55;
  left: 197;
}

@media screen and (max-width: 1400px) {
  .map {
    display: none;
  }
}

#club .program {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background: var(--grey-darker);
  border-radius: var(--radius);
  padding: var(--spacing);
  border-top: solid 3px var(--yellow);
}

#club .program p {
  display: flex;
  flex-direction: column;
}

#club .program p .day {
  font-weight: 900;
  margin-bottom: calc(var(--spacing) / 4);
}

@media screen and (max-width: 1400px) {
  #club .program {
    min-width: 0px;
  }
}

#partners {
  background: var(--white);
}

#partners .content {
  padding: var(--spacing);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: calc(2 * var(--spacing));
  padding-bottom: 70px;
  flex-wrap: wrap;
}

#partners .content img {
  max-height: 150px;
}

#partners .info {
  text-align: center;
  margin: 0 calc(2 * var(--spacing)) calc(2 * var(--spacing)) calc(2 * var(--spacing));
  font-style: italic;
  font-weight: bold;
}


#actu {
  background: var(--white);
  padding: var(--spacing);
}

#actu iframe {
  max-width: none !important;
  border-radius: var(--radius) !important;
}

#actu iframe * {
  color: var(--red) !important;
  background: var(--red) !important;
}

#contacts {
  background: var(--black);
}

#contacts .background {
  position: absolute;
  background: url(../assets/forest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.25;
}

#contacts .content {
  padding: var(--spacing);
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  color: white;
  justify-content: center;
  align-items: center;
}

#contacts .content .banner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 50%;
  align-items: center;
  text-align: center;
}

#contacts .content .banner hr {
  width: 250px;
}

#contacts .content .banner span {
  font-size: 1.2rem;
}

#contacts .content .social {
  width: 100%;
  display: flex;
  padding: var(--spacing);
  gap: calc(var(--spacing) * 4);
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {

  #contacts .content {
    padding: var(--spacing);
  }

  #contacts .content .banner {
    width: 100%;
  }

  #contacts .content .social {
    gap: var(--spacing);
  }
}

#contacts .content .social a {
  border: solid 2px var(--white);
  padding: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 7rem;
  width: 7rem;
  font-size: 4rem;
  transition: all var(--transition);
}

#contacts .content .social a:hover {
  color: var(--red);
  border-color: var(--red);
}

#eco {
  background: var(--black-darker);
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
}