#cart {
  position: fixed;
  z-index: 10;
  top: 100px;
  right: var(--mobile);
  height: 3.5rem;
  width: 3.5rem;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--light);
  font-size: 1.5rem;
  box-shadow: 0px 5px 10px -2px var(--blue);
  transition: all 250ms;

  #counter {
    position: absolute;
    background: var(--orange);
    right: -5px;
    bottom: -5px;
    padding: 5px;
    border-radius: var(--radius);
    font-size: 0.8rem;
    box-shadow: 0px 5px 10px -2px var(--orange);
  }
}

#cart:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#shop {
  margin-top: calc(var(--spacer) * 2);
  padding: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
  width: 100%;

  .grid {
    margin-top: var(--spacer);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacer);

    div {
      padding: var(--spacer);
      display: flex;
      flex-direction: column;
      gap: var(--radius);
      width: 100%;
      border: solid 1px var(--grey);
      border-radius: var(--radius);
      overflow: hidden;

      .img {
        width: 100%;
      }

      .title {
        margin-top: var(--spacer);
        color: var(--primary);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1rem;
      }

      .size {
        color: #b1b1b1;
      }

      .price {
        font-weight: bold;
      }

      label {
        color: var(--primary);
        font-size: 0.8rem;
        text-transform: lowercase;
      }

      select,
      input {
        margin-top: auto;
        padding: 0.4rem;
        border-radius: var(--radius);
        border: none;
        background: #ebebeb;
      }

      button {
        margin-top: auto;
        padding: 0.5rem;
        border-radius: var(--radius);
        border: none;
        background: var(--primary);
        color: var(--light);
        font-size: 0.8rem;
        text-transform: uppercase;
        box-shadow: 0px 5px 10px -2px var(--blue);
        transition: all 250ms;
      }

      button:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #shop {
    .grid {
      gap: var(--mobile);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1200px) {
  #shop {
    padding: 60px;
    gap: var(--mobile);
    .grid {
      gap: var(--mobile);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 600px) {
  #shop {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}

#checkout {
  width: 100vw;
  height: 0;
  z-index: 111;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--dark-alpha);
  transition: all 250ms;
  display: flex;
  align-items: start;
  justify-content: center;
  opacity: 100;
  overflow: hidden;

  #close {
    display: block;
    position: absolute;
    top: var(--mobile);
    right: var(--mobile);
    color: var(--light);
    font-size: 1.5rem;
    transition: all 250ms;
  }

  #close:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .card {
    width: 100%;
    background: var(--light);
    border-radius: var(--radius);
    padding: var(--mobile);
    display: flex;
    flex-direction: column;
    gap: var(--mobile);

    h4 {
      text-transform: uppercase;
      font-weight: bold;
      color: var(--primary);
    }

    .responsive {
      width: 100%;
      max-height: 400px;
      overflow: auto;
    }

    #list {
      width: 100%;

      th,
      td {
        padding: 10px;
        padding-left: 0;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

.stop-scrolling {
  height: 100dvh;
  overflow: hidden;
}
